# Jekyll
_site/
.jekyll-cache
.jekyll-metadata
.sass-cache

# Ruby
.bundle/
.byebug_history
.ruby-gemset
.ruby-version
*.gem
Gemfile.lock

# macOS
.DS_Store

# Windows   
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db
